<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylisation du formulaire</title>
    <link rel="stylesheet" href="/UTILS/static/css/download.css">
</head>

<body>
    <div class="container">
        <h2>Récuper vos fichiers</h2>
        <form action="/submit" method="post">
            <div class="form-group">
                <label for="email">Mot de passe :</label>
                <input type="text" placeholder="Entrez le mot de passe" required>
            </div>
            <button type="submit">Télécharger</button>
        </form>
    </div>
    <script>
        window.onload = function () {
            // Fonction pour récupérer les paramètres GET depuis l'URL
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            // Récupérer la valeur du paramètre 'url' dans l'URL
            var urlValue = getParameterByName('url');
        };
    </script>
</body>

</html>